:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  text-align: center;
  color: #ff8888;
}

header {
  font-size: 2em;
  margin: 0.25em;
}

footer {
  font-size: 0.75em;
  width: 100%;
  margin: auto;

  & a {
    color: lightblue;

    & :visited {
      color: lightblue;
    }
  }
}
@media (prefers-color-scheme: light) {
  :root {
    background-color: #eee;

    & body {
      color: #ae0202;
    }
    & a {
      color: darkblue;

      & :visited {
        color: darkblue;
      }
    }
  }
}
